* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.createEvent {
    border:1px black solid;
    background-color: #D9D9D9;
    height: 77px;
    width: 90%;
    border-radius: 15px;
    font-family: 'iceland';
    font-size: 24px;
    margin-top:97px;
    margin-left:auto;
    margin-bottom: 10px;
    margin-right:auto;
}