* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.createEvent {
    background-color: #D9D9D9;
    border: none;
    height: 77px;
    width: 377px;
    border-radius: 15px;
    font-family: 'iceland';
    font-size: 24px;
}