* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display:flex;
    flex-direction: row;
    max-height: fit-content;
    margin-bottom: 2em !important;
}

.body {
    padding: 0;
    margin-left: 1em !important;
}

.title {
    text-align: center;
    font-size: 1.2em;
}

.container {
    display: flex;
    gap: 4em;
    padding: 0 !important;
}

.size {
    color: #5CA032;
    font-size: 2em;
    font-weight: bold;
    margin-left: 1em;
}